.App {
  text-align: center;
}

button {
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  background-color: #e7e7e7; 
  color: black;
  border: 2px solid #e7e7e7;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: blue;
  border: 2px solid blue;
  color: white;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.liT {
  text-decoration: line-through;
}

.liN {
  text-decoration: none;
}
